<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webex Front End</title>

    <!-- Import Momentum CSS -->
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/momentum-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/momentum-ui-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}">

</head>

<!-- <i class="icon icon-camera_16"></i> -->
<!-- <<body style="font-size: 13px;"></i> -->
<body>

    {% block content %}

    {% endblock %}
    
</body>

</html>